# Ignore node_modules directory
node_modules/

# Ignore .env files which may contain sensitive information
.env

# Ignore build artifacts
build/
dist/

# Ignore logs
logs/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE-specific files and directories
.idea/
.vscode/

# Ignore npm debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
